.topics-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.topics-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  h1 {
    margin: 0;
    font-size: 2rem;
    color: #333;
  }
}

.create-btn {
  padding: 0.75rem 1.5rem;
  background-color: rgba(141, 0, 234, 1);;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  transition: background-color 0.2s;

  &:hover {
    background-color: rgba(141, 0, 234, 0.8);;
  }
}

.topics-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  grid-auto-rows: auto;
}

.topic-card {
  background: rgb(245, 245, 245);
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.topic-header {
  .topic-title {
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0;
    color: #333;
  }
}

.topic-description {
  flex: 1;

  p {
    margin: 0;
    color: #444;
    line-height: 1.6;
  }
}

.topic-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.subscribe-button {
  background-color: rgba(141, 0, 234, 1);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 14px 14px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.2s ease;
  min-width: 160px;

  &:hover:not(:disabled) {
    background-color: rgba(141, 0, 234, 0.8);
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  &.subscribed {
    background-color: #666;
    cursor: not-allowed;

    &:disabled {
      background-color: #666;
    }

    &:hover:not(:disabled) {
      background-color: #555;
    }
  }
}

@media (max-width: 768px) {
  .topics-header {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .create-btn {
    width: 60%;
    max-width: 300px;
  }

  .topics-grid {
    grid-template-columns: 1fr;
    gap: 0.75rem;
  }

  .topics-container {
    padding: 1rem;
  }

  .subscribe-button {
    padding: 10px 10px;
  font-size: 16px;
  font-weight: 700;
  }
}
